.wrapper { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    align-items: center;
    text-align: center;
    height: 90vh;
    justify-content: center;   
    background: #0a0a0a;
    color: #EDEDED;
}


.form {
    display: flex;
    flex-direction: column;
    position: 999;
    backdrop-filter: blur(5px);
    background: #0a0a0a;
    border-radius: 6px;
}

.form_content {
    width: 100%;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form_content_wrapper {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: left;
    gap: 24px;
}

.form_title  {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form_title h4 {
    font-size: 20px;
    color: #EDEDED;
    line-height: 2rem;
    font-weight: 600;
}

.form_title p {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    justify-content: left;
    gap: 6px;
}

.form_title a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: hsla(210, 100%, 66%, 1);
    cursor: pointer;
    font-size: 14px;
}

.form_title a:hover {
    text-decoration: underline;
}

.form_input_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input_content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.input_content p {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    justify-content: left;
    font-weight: 500;
}

.input_content_password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.input_content_password span {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.input_content_password a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: hsla(0, 0%, 63%, 1);
    cursor: pointer;
    font-size: 14px;
    transition: 0.1s ease;
}

.input_content_password a:hover {
    text-decoration: underline;
    color: #EDEDED;
}

.button {
    padding: 0px 12px;
    height: 32px;
    transition: 0.1s ease;
    border-radius: 6px;
    z-index: 999;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
    background-color: #fff;
    color: #000 !important;
}

.button:hover {
    background-color: #dbdbdb;
}

.StatusBar {
    padding: 0px 12px;
    height: 32px;
    transition: 0.1s ease;
    border-radius: 6px;
    z-index: 999;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.CheckIcon {
    color: #449d5d;
    background: #449d5d25;
    display: flex;
    width: min-content;
    border-radius: 50px;
    position: absolute;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}