.main {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.top_container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-image: url("/Home/8.png");
  background-blend-mode: hard-light;
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.holder {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: start;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.holder h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  text-align: left;
  text-wrap: balance;
}

.holder a {
  cursor: pointer;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
  backdrop-filter: blur(0px);
  background-color: #ff0055;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  z-index: 999;
  font-size: 16px;
  transition: 0.1s ease;
}

.holder a:hover {
  background-color: #ff0055;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.holder span {
  font-size: 24px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
  text-wrap: balance;
  width: 570px;
}

.holder p {
  font-size: 52px;
  color: rgb(255 255 255 / 60%);
  font-weight: 700;
  font-style: italic;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 1200px;
  background: radial-gradient(
    140% 100% at 50% 0%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 0) 77.93496621621621%
  );
  box-shadow: 0 10px 20px #00010a26;
  border: 1px solid rgb(255 255 255 / 12%);
  padding: 2rem 4rem;
  border-radius: 16px;
  backdrop-filter: blur(5px) saturate(180%);
}

.item {
  display: flex;
  flex-direction: column;
}

.item h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.item p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(255 255 255 / 60%);
}

.mods {
  width: 100%;
  max-width: calc(1200px + 2rem);
  padding: 0 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  overflow-x: auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
  align-items: center;
}

.features_title {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  max-width: 1200px;
  overflow: visible;
  padding: 100px 0 60px;
  position: relative;
  width: 100%;
}

.features_header {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.features_title h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  text-wrap: balance;
}

.features_title p {
  font-size: 18px;
  color: rgb(255 255 255 / 60%);
}

.features_title span {
  text-shadow: 0px 4px 18px rgba(0, 101, 217, 0.85);
  background: linear-gradient(to right, #5fffff, #7b7dfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.line {
  background: rgb(6, 182, 212);
  background: linear-gradient(
    199deg,
    rgba(6, 182, 212, 0) 0%,
    rgb(255, 89, 111) 50%,
    rgba(74, 222, 128, 0) 100%
  );
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}

.radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff005583 0%,
    rgba(171, 171, 171, 0) 100%
  );
  border-radius: 8px;
  bottom: -430px;
  flex: none;
  height: 730px;
  left: calc(50.00000000000002% - min(1800px, 1440px) / 2);
  max-width: 1800px;
  opacity: 0.4;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  width: 1440px;
  z-index: 2;
}

.light {
  -webkit-mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 55.13020833333333%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: radial-gradient(
    62% 67.9245283018868% at 39% 41.5%,
    rgba(255, 0, 128, 0) 0%,
    rgba(255, 0, 191, 0) 36%,
    rgba(255, 0, 140, 0) 63%,
    rgba(95, 0, 75, 0.11) 83%,
    rgba(206, 0, 103, 0.068) 100%
  );
  bottom: 0;
  flex: none;
  height: 498px;
  left: 0;
  mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 55.13020833333333%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  pointer-events: none;
  z-index: 2;
}

.features {
  width: 1200px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: red;
  border-radius: 20px;
  margin-top: 2rem;
  overflow: auto;
  box-shadow: 0 20px 40px #0009;
  background-color: #000;
  border: 1px solid rgb(255 255 255 / 12%);
}

.table_header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  text-align: left;
  width: 100%;
  padding: 1rem 2rem;
  height: max-content;
  border-bottom: 1px solid rgb(255 255 255 / 12%);
}

.table_header h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  width: 30%;
}

.modNameRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 1rem 2rem;
  min-height: 50px;
  border-bottom: 1px solid rgb(255 255 255 / 12%);
}

.modNameHolder {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.description {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  gap: 1rem;
  color: rgb(255 255 255 / 60%);
}

.gallery {
  width: 100%;
  max-width: 1200px;
  display: flex;
  aspect-ratio: 16/9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px;
  overflow: hidden;
  transition: 0.1s ease;
  position: relative;
  border: 1px solid rgb(255 255 255 / 12%);
  margin-bottom: 2rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  width: 1600%;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  align-items: center;
  text-align: center;
}

.arrow {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  width: 40px;
  transition: 0.1s ease;
  height: 40px;
  text-align: center;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.25) 0.5px 0.5px 0px 0px inset,
    rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

.arrow:hover {
  background-color: #dbdbdb;
}

.launcher {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: center;
  padding: 120px 40px 0;
  position: relative;
  width: 100%;
}

.launcher_container {
  align-items: center;
  background: radial-gradient(
    50% 103% at 50% 100%,
    rgba(255, 0, 106, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  max-width: 1400px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.launcher_title {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: min-content;
  justify-content: center;
  max-width: 600px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
  z-index: 1;
}

.launcher_text {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: left;
  max-width: 450px;
  padding: 0;
  position: relative;
  width: 100%;
  text-align: left;
}

.launcher_text h4 {
  font-size: 52px;
  font-weight: 600;
  text-wrap: balance;
  line-height: 70px;
}

.launcher_text p {
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
  font-size: 18px;
}

.launcher_buttons {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  width: 100%;
}

.launcher_buttons .button {
  background-color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  color: #000;
  font-weight: 500;
  flex-direction: row;
  transition: 0.1s ease;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0.5px 0.5px 0px 0px inset,
    rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

.launcher_buttons a {
  align-items: center;
  display: flex;
  color: #fff;
  font-weight: 500;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  backdrop-filter: blur(0px);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.launcher_buttons a:hover {
  background-color: #ffffff27;
}

.launcher_buttons .button:hover {
  background-color: #dbdbdb;
}

.image {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  height: 640px;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
}

.image_container {
  background-image: url("/game.png");
  width: 1200px;
  height: 100%;
  mask: radial-gradient(
      105% 97% at 0% 0%,
      #000000 42.85789695945946%,
      rgba(0, 0, 0, 0) 100%
    )
    add;
  -webkit-mask: radial-gradient(
      105% 97% at 0% 0%,
      #000000 42.85789695945946%,
      rgba(0, 0, 0, 0) 100%
    )
    add;
  background-size: 105%;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .features_blocks {
    flex-direction: column;
    height: auto;
  }

  .block {
    max-width: 800px;
    min-height: 555px;
  }

  .gui {
    height: 300px;
    background-size: cover;
    background-position: 0%;
  }

  .optimization {
    min-height: max-content;
  }

  .items {
    display: none;
  }
}

@media (max-width: 1024px) {
  .launcher_container {
    gap: 40px;
  }

  .launcher_title {
    flex: 1.5 0 0px;
  }
}

@media (max-width: 768px) {
  .text_padding {
    flex-direction: column;
  }

  .modNameHolder {
    width: 20%;
  }

  .table_header h3 {
    width: 20%;
  }

  .description {
    width: 80%;
  }

  .text_padding span {
    text-align: center;
    align-items: center;
  }

  .holder h1 {
    font-size: 36px;
    line-height: 1.2em;
    text-wrap: wrap;
  }

  .holder p {
    font-size: 36px;
    line-height: 1.2em;
    text-wrap: wrap;
  }

  .holder span {
    font-size: 16px;
    max-width: 100%;
    text-wrap: wrap;
  }

  .holder {
    gap: 10px;
  }

  .holder a {
    margin-top: 10px;
  }

  .launcher {
    padding: 120px 20px 0;
  }

  .gallery {
    padding: 20px;
  }

  .launcher_text h4 {
    font-size: 36px;
    line-height: 1.2em;
  }

  .launcher_text {
    max-width: max-content;
    text-align: left;
    align-items: start;
  }

  .launcher_container {
    flex-direction: column;
  }

  .launcher_title {
    width: 100%;
  }

  .image {
    flex: none;
    width: 100%;
    height: auto;
    height: 500px;
  }

  .image_container {
    position: absolute;
    left: 0;
    aspect-ratio: 16/9;
  }

  .paragraph {
    font-size: 16px;
    max-width: 100%;
    text-wrap: wrap;
  }

  .top_main_content_title {
    gap: 10px;
  }

  .sticky_text h4 {
    font-size: 56px;
    line-height: 60px;
  }

  .sticky_text p {
    font-size: 18px;
    margin-top: 1rem;
  }

  .image_holder {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .sticky_text h4 {
    font-size: 32px;
    line-height: 40px;
  }

  .sticky_text p {
    font-size: 16px;
    margin-top: 0.5rem;
  }

  .server {
    height: 500px;
  }
}

@media (max-width: 425px) {
  .launcher_buttons {
    font-size: 14px;
  }

  .image {
    height: 300px;
  }
}

@media (max-width: 375px) {
}
