
.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    position: absolute;
    z-index: 99999;
    opacity: 1;
    transition: opacity 1s ease-out;
    flex-direction: column;
    gap: 2rem;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
