.footer {
    width: 100%;
    padding: 36px 20%;
    font-weight: 500;
    z-index: 999;
    font-size: 14px;
    background-color: #000000cc;
    backdrop-filter: saturate(180%) blur(5px);
    border-top: 1px solid #333;
    flex-direction: column;
}

.footer_content {
    display: flex;
    gap: 24px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.content, .content_logo {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-size: 16px;    
    font-weight: 500;
    color: #EDEDED;
}

.content h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 20px;
    color: #EDEDED;
}

.content a {
    line-height: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #888;
    border-radius: 2px;
    font-weight: 400;
    transition: 0.1s ease;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: left;
    text-align: left;
    align-items: center;
    max-width: 200px;
}

.content a:hover {
    color: #EDEDED;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 20px;
    font-size: 14px;
    color: #888;
    margin-top: 48px;
    border-radius: 2px;
    font-weight: 400;
}

.content button {
    background-color: #0A0A0A;
    color: #EDEDED !important;
    padding: 0px 12px;
    height: 32px;
    transition: 0.1s ease;
    border-radius: 6px;
    z-index: 999;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 12px;
    border: 1px solid #ffffff24;
}

.content button:hover {
    background-color: #ffffff17;
}