.option {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.1s ease;
  position: relative;
  border: 1px solid #3d3d3d;
  background-color: #131313;
}

.top_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  gap: 1rem;
}

.top_text h4 {
  font-size: 16px;
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100%;
  display: flex;
  font-weight: 700;
  flex-direction: row;
  gap: 1rem;
}

.top_text span {
  font-size: 14px;
  color: #ffffffbf;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.balance {
  background-color: #181818;
  border: 1px solid #2e2e2e;
  border-radius: 6px;
  gap: 12px;
  height: 48px;
  padding: 0 20px;
  position: relative;
  transition: 0.2s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
}

.balance_value_span {
  font-weight: 700 !important;
  font-size: 16px !important;
}

.button {
  background-color: #101010;
  border: 1px solid #3d3d3d;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 20px;
  height: 48px;
  text-decoration: unset;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #1b1b1b;
}

.bottom_text {
  display: flex;
  gap: 24px;
  padding: 0px 20px 20px 20px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.bottom_text p {
  font-size: 14px;
  color: rgb(255 255 255 / 60%);
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  min-height: 49px;
  font-weight: 600;
}

.balance_value {
  color: #fff;
  font-weight: 700;
  display: flex;
  font-size: 16px;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.danger {
  background-color: oklch(22.1% 0.0657 15.11);
  padding: 4px 8px;
  color: oklch(69.96% 0.2136 22.03) !important;
  gap: 10px;
  border-radius: 6px;
  display: flex;
  font-weight: 700;
  font-size: 14px !important;
}

.info {
  background-color: #3b88e925;
  color: #3b88e9 !important;
  padding: 4px 8px;
  gap: 10px;
  border-radius: 6px;
  display: flex;
  font-weight: 700;
  font-size: 14px !important;
}

.feature {
  background-color: #d1772425;
  color: #d17724 !important;
  gap: 10px;
  border-radius: 6px;
  display: flex;
  font-size: 14px !important;
  font-weight: 700;
  padding: 4px 8px;
}

.role {
  font-weight: 500;
  border-radius: 6px;
  padding: 2px 6px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.default {
  color: #fff;
  background-color: rgb(255 255 255 / 10%);
}

.vip {
  background-color: #f1c40f25;
  color: #f1c40f !important;
}

.premium {
  background-color: #3498db25;
  color: #3498db;
}

.deluxe {
  background-color: #2ecc7125;
  color: #2ecc71;
}

.ultra {
  background-color: #9b59b625;
  color: #9b59b6;
}

.legend {
  background-color: #e74c3c25;
  color: #e74c3c;
}

.admin {
  background-color: oklch(22.1% 0.0657 15.11);
  color: oklch(69.96% 0.2136 22.03);
}

.target_value {
  display: flex;
  color: #fff;
  font-weight: 400;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 36px;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease;
  overflow: hidden;
  font-size: 14px;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: max-content;
  padding: 0 12px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  background-color: #101010;
  border: 1px solid #3d3d3d;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 20px;
  height: 48px;
  text-decoration: unset;
  transition: background-color 0.2s ease;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link:hover {
  background-color: #242424;
}

.date {
  font-size: 14px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
}

@media (max-width: 1024px) {
  .option {
    overflow: visible;
  }
}

@media (max-width: 450px) {
  .option span,
  .option p {
    font-size: 12px;
  }

  .option h4 {
    font-size: 16px;
  }

  .bottom_text {
    gap: 1rem;
  }

  .bottom_text button {
    font-size: 12px;
  }
}

.rubby_change {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 8px;
}

.rubby_holder {
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  background-color: #2b2b2b;
  gap: 10px;
  padding: 0px 12px;
  height: 36px;
}

.input {
  height: 36px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(255 255 255 / 10%);
  color: #ededed;
  transition: 0.1s ease;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 26px;
  transition: 0.1s ease;
  outline: 0;
  font-weight: 400;
  position: relative;
  border: 1px solid rgb(255 255 255 / 5%);
}
.input:focus {
  border: 1px solid #fff;
}

.input:-webkit-autofill {
  background-color: #000 !important;
  color: #ededed !important;
  border: 1px solid #333 !important;
  -webkit-text-fill-color: #ededed !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #ededed !important;
  font-weight: 400 !important;
}

.bottom_title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 600px) {
  .bottom_title {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
  }

  .balance_value_span {
    font-size: 14px !important;
  }

  .balance_value {
    font-size: 14px;
  }
}
