.InputActive {
  background-color: #181818;
  border: 1px solid #2e2e2e;
  border-radius: 6px;
  gap: 12px;
  height: 48px;
  padding: 0 20px;
  position: relative;
  transition: 0.2s ease;
  transition-property: background-color, border-color;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.InputActive:focus {
  background-color: #242424;
}

.InputActive:-webkit-autofill {
  background-color: #000 !important;
  color: #ededed !important;
  border: 1px solid #333 !important;
  -webkit-text-fill-color: #ededed !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #ededed !important;
  font-weight: 400 !important;
}

.log_out {
  border: 1px solid #3d3d3d;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 20px;
  height: 48px;
  width: max-content;
  text-decoration: unset;
  background-color: #ff000026;
  color: #e95e5e;
  border: 1px solid rgba(255, 0, 0, 0.1490196078);
  transition: background-color 0.2s ease;
}

.log_out:hover {
  background-color: #9c000026;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.CheckIcon {
  position: absolute;
  right: 10px;
  pointer-events: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.user_balance_value {
  background-color: #1c221c;
  height: 24px;
  color: #72ab6c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1/1;
  border-radius: 6px;
}
