.main {
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: calc(70px + 24px);
  padding: 0 2rem;
  align-items: center;
  text-align: center;
  height: 90vh;
  justify-content: space-around;
  background-color: #0e0e0e;
  color: #ededed;
  position: relative;
}

.wrapper_main {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  height: min-content;
  justify-content: space-between;
  max-width: 1200px;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  position: 999;
  overflow: hidden;
  z-index: 999;
}

.form_padding {
  border-style: solid;
  /* border: 1px solid #ffffff1f; */
  align-content: flex-start;
  align-items: flex-start;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  /* backdrop-filter: blur(5px); */
  gap: 15px;
  height: 500px;
  padding: 10px;
}

.image {
  position: absolute;
  right: 1rem;
  bottom: -5rem;
  z-index: 2;
  animation: moveUp infinite 10s ease;
}

@keyframes moveUp {
  0% {
    bottom: -5rem;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -5rem;
  }
}

.light_2 {
  background: linear-gradient(
    270deg,
    rgba(0, 72, 255, 0) 0%,
    rgba(43, 255, 0, 0.13) 14.5798%,
    rgba(0, 255, 136, 0.5) 50%,
    rgba(0, 255, 221, 0.13) 84.0072%,
    rgba(255, 166, 0, 0) 100%
  );
  bottom: 194px;
  filter: blur(0px);
  flex: 0 0 auto;
  mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12%);
  overflow: hidden;
  position: absolute;
  right: 8rem;
  top: -752px;
  width: 542px;
  z-index: 0;
  transform: perspective(1200px) rotateX(70deg);
}

.form_content {
  width: 100%;
  padding: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.12); */
  /* background: radial-gradient(
    140% 100% at 50% 0%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 0) 77.93496621621621%
  ); */
  /* box-shadow: 0 10px 20px #00010a26; */
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  text-align: center;
  align-items: center;
  height: 100%;
}

.form_content_wrapper {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  align-items: left;
  justify-content: center;
}

.line {
  background: rgb(6, 182, 212);
  background: linear-gradient(
    199deg,
    rgba(6, 182, 212, 0) 0%,
    rgb(89, 167, 255) 50%,
    rgba(74, 222, 128, 0) 100%
  );
  width: 60%;
  height: 1px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #0095ff 0%,
    rgba(171, 171, 171, 0) 100%
  );
  border-radius: 8px;
  bottom: -430px;
  flex: none;
  height: 730px;
  left: calc(50.00000000000002% - min(1800px, 1440px) / 2);
  max-width: 1800px;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  width: 1440px;
  z-index: 1;
  scale: 100%;
}

.form_title {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form_title h4 {
  font-size: 24px;
  color: #ededed;
  line-height: 2rem;
  font-weight: 700;
}

.form_title p {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  width: 100%;
  font-weight: 600;
  text-align: left;
  justify-content: left;
  gap: 6px;
}

.form_title a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: hsla(210, 100%, 66%, 1);
  cursor: pointer;
  font-size: 14px;
}

.form_title a:hover {
  text-decoration: underline;
}

.form_input_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
}

.input_content p {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  justify-content: left;
  font-weight: 500;
}

.input_content_password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}

.input_content_password span {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.input_content_password a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: hsla(0, 0%, 63%, 1);
  cursor: pointer;
  font-size: 14px;
  transition: 0.1s ease;
}

.input_content_password a:hover {
  text-decoration: underline;
  color: #ededed;
}

.button {
  background-color: #2e2e2e;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 25px #e81c5a00;
  color: #fffc;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  transition: 0.2s ease;
  transition-property: background-color, color, box-shadow;
}

.active {
  background: #59a7ff;
  #232266box-shadow: 0 0 25px #232266;
}

.button:hover {
  color: #fff;
}

.active:hover {
  box-shadow: 0 0 25px #232266;
}

.StatusBar {
  padding: 0px 12px;
  height: 32px;
  transition: 0.1s ease;
  border-radius: 6px;
  z-index: 999;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
}

.form_content input {
  width: 100%;
}

.red {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff0000 0%,
    rgba(171, 171, 171, 0) 100%
  );
  border-radius: 8px;
  bottom: -430px;
  flex: none;
  height: 730px;
  left: 0rem;
  max-width: 1800px;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  width: 1440px;
  z-index: 5;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 650px;
  overflow: visible;
  padding: 0;
  position: relative;
  z-index: 1;
}

.text h4 {
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  justify-content: left;
  text-wrap: balance;
  text-align: left;
}

.text p {
  font-size: 20px;
  color: #ffffffbf;
  justify-content: left;
  text-align: left;
  text-wrap: balance;
  width: 630px;
  font-weight: 600;
}
.checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checkbox input {
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
  appearance: none;
  cursor: pointer;
  background-color: #181818;
  border-radius: 4px;
  color: #fff;
  position: relative;
}

.checkbox input:checked {
  background-color: #59a7ff;
  color: #fff;
}

.checkbox input:checked::after {
  content: "";
  position: absolute;
  left: 5.5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.accept {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: #ffffffcc;
  font-weight: 600;
  gap: 0.25rem;
}

.accept a {
  opacity: 1;
  text-decoration: underline;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 1400px) {
  @keyframes moveUp {
    0% {
      bottom: -10rem;
    }
    50% {
      bottom: -5rem;
    }
    100% {
      bottom: -10rem;
    }
  }

  .image {
    bottom: -10rem;
  }
}

@media (max-width: 1200px) {
  .text {
    width: 450px;
  }

  .text h4 {
    font-size: 52px;
    line-height: normal;
  }

  .text p {
    font-size: 20px;
    width: auto;
  }

  .form_content_wrapper {
    width: 100%;
  }

  .wrapper_main {
    flex-direction: row;
    gap: 2rem;
    align-items: unset;
    justify-content: unset;
    padding-top: calc(70px + 2rem);
  }
}

@media (max-width: 1024px) {
  .text h4 {
    font-size: 36px;
  }

  .text p {
    font-size: 18px;
  }

  .text {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .main {
    height: auto;
    padding-top: 2rem;
  }

  .wrapper_main {
    flex-direction: column;
  }

  .form_content_wrapper {
    width: auto;
  }

  .form {
    max-width: 100%;
  }

  .text {
    width: 70%;
  }

  .image {
    width: 60vw;
  }
}

@media (max-width: 540px) {
  .main {
    height: auto;
    padding: 2rem;
    padding-top: 4rem;
  }

  .text {
    width: 90%;
    gap: 1rem;
  }

  .text h4 {
    font-size: 28px;
    line-height: normal;
    text-wrap: balance;
  }

  .text p {
    font-size: 14px;
  }

  .form_content_wrapper {
    width: 100%;
    justify-content: start;
    margin-top: 1rem;
  }

  .form_padding {
    padding: 0;
    height: auto;
  }

  .form_content {
    padding: 0;
  }

  .accept {
    font-size: 12px;
  }

  .checkbox {
    gap: 0.5rem;
  }
}
