.header {
    width: 100%;
    height: 64px;
    padding: 0 20%;
    font-weight: 500;
    font-size: 16px;
    z-index: 9999;
    position: fixed;
    top: 0;
    font-size: 14px;
    background-color: #000000cc;
    backdrop-filter: saturate(180%) blur(5px);
    box-shadow: inset 0 -1px 0 0 #333;
}

.nav_bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99999;
}

.black {
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

.logo {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;    
    font-weight: 400;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.ul li {
    display: flex;
    flex-direction: row;
    color: #888;
}

.li {
    display: flex;
    flex-direction: row;
    color: #888;
    gap: 2rem;
}

.ul li a {
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    font-size: 14px;
    color: #888;
}

.gap_li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link {
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    -o-transition: 0.1s ease;
}

.link_active {
    color: hsla(210,100%,66%,1) !important;
}

.link:hover {
    color: #ffffff;
}

.button, .button_login, .profile {
    padding: 0px 12px;
    height: 32px;
    transition: 0.1s ease;
    border-radius: 6px;
    z-index: 999;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.button {
    background-color: #fff;
    color: #000 !important;
}

.button:hover {
    background-color: #dbdbdb;
}

.button_login, .profile {
    border: 1px solid #ffffff24;
    background: #0a0a0a;
    color: #fff !important;
}

.button_login:hover, .profile:hover {
    background-color: #ffffff17;
}

.badge {
    height: 20px;
    line-height: 20px;
    border-radius: 6px;
    padding: 0 6px;
    font-size: 12px;
    color: hsla(0,0%,93%,1);
    background: hsla(0,0%,10%,1);
    font-weight: 500;
    font-family: inherit;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .145);
    border: none;
    margin-left: 16px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    gap: 24px;
}