.header {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  z-index: 9998;
  top: 0;
  background-color: transparent;
  backdrop-filter: none;
  position: absolute;
  padding: 48px 48px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav_bar {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  z-index: 9998;
  animation: moveUp 0.3s ease;
}

.black {
  filter: brightness(0);
  -webkit-filter: brightness(0);
}

.logo {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 1rem;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  z-index: 9998;
  cursor: pointer;
}

.nav_buttons {
  justify-content: right !important;
  display: flex;
  align-items: end;
  text-align: right;
}

.logo a {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ul li {
  flex-direction: row;
  color: #ffffffbf;
}

.li {
  display: flex;
  flex-direction: row;
  color: #ffffffbf;
  gap: 2rem;
}

.ul li a,
.ul li button {
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  font-size: 16px;
  font-weight: 700;
  color: #ffffffbf;
}

.gap_li {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link {
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.link_active {
  color: hsla(210, 100%, 66%, 1) !important;
}

.link:hover {
  color: #ffffff;
}

.button_login,
.profile {
  height: 32px;
  transition: 0.1s ease;
  border-radius: 6px;
  z-index: 999;
  font-size: 14px;
  font-weight: 700 !important;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  font-weight: 500;
}

.button {
  background-color: #4543c0;
  border: none;
  border-radius: 6px;
  #232266box-shadow: 0 0 25px #232266;
  color: #fff !important;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 16px 20px;
  text-decoration: unset;
  text-transform: uppercase;
  transition: 0.2s ease;
  transition-property: background-color, box-shadow;
  white-space: nowrap;
}

.nickname {
  font-weight: 700;
  font-size: 16px !important;
}

.button:hover {
  box-shadow: 0 0 25px #232266;
}

.button_login,
.profile {
  color: #ffffffbf !important;
}

.button_login:hover,
.profile:hover {
  color: #fff !important;
}

.badge {
  height: 20px;
  line-height: 20px;
  border-radius: 6px;
  padding: 0 6px;
  font-size: 12px;
  color: hsla(0, 0%, 93%, 1);
  background: hsla(0, 0%, 10%, 1);
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
  border: none;
  margin-left: 16px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 24px;
}

.menu {
  color: #ffffffbf;
  transition: 0.1s ease;
  cursor: pointer;
  display: none;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.menu:hover {
  color: #fff;
}

.modalHeader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px) saturate(180%);
  animation: moveUp 0.5s ease;
}

.close {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 48px 48px 0;
  transition: 0.1s ease;
  gap: 1rem;
  font-size: 16px;
}

.logoImage {
  width: 95px !important;
}

.logo img {
  max-width: max-content;
}

.close:hover {
  color: #fff;
}

.menu_content {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}

.menu_link {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  left: unset;
  order: 1;
  overflow: auto;
  overscroll-behavior: contain;
  padding: 2rem 2rem 0;
  position: relative;
  font-size: 16px;
  top: unset;
  width: 100%;
  z-index: 2;
  margin-top: 1rem;
}

.menu_link a {
  color: #ffffffbf;
}

.menu_link li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu_link a:hover {
  color: #fff;
}

.menu_logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttons {
  width: 100%;
  padding: 0 2rem;
  gap: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-direction: column;
}

.image_header {
  width: 100%;
  padding: 0 2rem;
  position: relative;
}

.image {
  background-image: url("/Home/terrain_3.png");
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  background-size: cover;
}

.shadow {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(169, 169, 169, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: opacity 0.3s ease;
}

.serverOpenDate {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 70px;
  align-items: center;
  text-align: left;
  justify-content: center;
  display: flex;
  padding: 2rem;
  gap: 24px;
  padding: 0.5rem 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      90deg,
      rgba(0, 230, 119, 0.5) 0%,
      rgba(255, 201, 44, 0) 50%
    )
    1;
  background: linear-gradient(
    90deg,
    rgba(0, 230, 119, 0.5) 0%,
    rgba(255, 201, 44, 0) 50%
  );
  z-index: 0;
}

.serverOpenContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: left;
  gap: 10px;
}

.xicon {
  cursor: pointer;
}

.xicon_holder {
  background-color: rgba(255, 255, 255, 12%);
  border: 1px solid rgba(255, 255, 255, 12%);
  border-radius: 50%;
  padding: 4px;
  transition: 0.1s ease;
}

.xicon_holder:hover {
  scale: 105%;
}

.dropdown {
  position: absolute;
  background-color: #0d0d0dd9;
  margin-top: 2.8rem;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #ffffff1a;
  transition: 0.1s ease;
  backdrop-filter: blur(10px) saturate(180%);
  animation: moveUp 0.3s ease;
  display: grid;
  grid: auto / auto auto;
  gap: 18px;
  overflow-y: auto;
  animation: moveUp 0.3s ease;
}

.dropdown_item {
  font-size: 14px !important;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  transition: 0.1s ease;
  min-width: 128px;
}

.dropdown_item a {
  font-size: 12px !important;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dropdown icon {
  width: 18px;
  height: 18px;
}

.dropdown_item:hover {
  color: #fff !important;
}

.balance_header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rubby {
  width: 16px;
  aspect-ratio: 1/1;
  max-height: 16px;
}

.player_currency {
  position: absolute;
  height: 30px;
  border-radius: 6px;
  padding: 20px;
  width: max-content;
  top: 3rem;
  color: #ffffffbf;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 5px;
  animation: moveUp 0.3s ease;
  display: none;
  box-shadow: 0 10px 20px #00010a26;
  backdrop-filter: blur(4px);
  background: #0d0d0dd9;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}

.profile:hover > .player_currency {
  display: flex;
}

@keyframes moveUp {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
}

.users_online {
  background: #1d1d1d;
  border-radius: 6px;
  margin-left: 32px;
  padding: 10px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.users_online h3 {
  margin: 0 8px 0 6px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffffbf;
}

.users_online span {
  font-size: 14px;
  font-weight: 700;
}

.buttons a {
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1550px) {
  .li {
    display: none;
  }

  .gap_li {
    display: none;
  }

  .menu {
    display: flex;
  }
}

@media (max-width: 380px) {
  .logo {
    font-size: 16px;
  }

  .menu {
    font-size: 14px;
  }

  .users_online {
    display: none !important;
  }

  .menu svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .users_online {
    margin-left: 24px;
  }

  .profile,
  .button_login {
    font-size: 16px !important;
  }
}

@media (max-width: 330px) {
  .logo a {
    display: none;
  }
}
