.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top_main {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.top_main_content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 0 2rem;
}

.top_main_content_title {
  place-content: flex-start center;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.aviable {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  overflow: hidden;

  z-index: 999;
}

.aviable span {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: rgb(255, 255, 255);
}

.aviable p {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgb(255 255 255 / 60%);
}

.title {
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  text-align: left;
  text-wrap: balance;
}

.paragraph {
  font-size: 24px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
  text-wrap: balance;
  width: 570px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.start_play {
  cursor: pointer;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
  backdrop-filter: blur(0px);
  background-color: #ff0055;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  z-index: 999;
  font-size: 16px;
  transition: 0.1s ease;
}

.start_play:hover {
  background-color: #ffffff27;
}

.watch_trailer {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  backdrop-filter: blur(0px);
  border-radius: 10px;
  opacity: 1;
  z-index: 999;
  font-size: 16px;
  transition: 0.1s ease;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.watch_trailer:hover {
  color: rgb(255 255 255 / 60%);
}

.video {
  position: absolute;
  left: 15rem;
  top: -4rem;
  opacity: 1;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  overflow: hidden;
  background: rgb(0, 0, 0);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video_overllay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  left: 14rem;
  width: 100%;
  pointer-events: none;
  z-index: 2;
  height: 100%;
}

.video_bottom {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(169, 169, 169, 0) 49%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  width: 100%;
  pointer-events: none;
  bottom: 0;
  z-index: 2;
  height: 100%;
}

.image_bottom {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  pointer-events: none;
  width: 100%;
  bottom: 0;
  z-index: 1;
  height: 50%;
}

.line {
  background: rgb(6, 182, 212);
  background: linear-gradient(
    199deg,
    rgba(6, 182, 212, 0) 0%,
    rgb(255, 89, 111) 50%,
    rgba(74, 222, 128, 0) 100%
  );
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}

.radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff005583 0%,
    rgba(171, 171, 171, 0) 100%
  );
  border-radius: 8px;
  bottom: -430px;
  flex: none;
  height: 730px;
  left: calc(50.00000000000002% - min(1800px, 1440px) / 2);
  max-width: 1800px;
  opacity: 0.4;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  width: 1440px;
  z-index: 2;
}

.light {
  -webkit-mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 55.13020833333333%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: radial-gradient(
    62% 67.9245283018868% at 39% 41.5%,
    rgba(255, 0, 128, 0) 0%,
    rgba(255, 0, 191, 0) 36%,
    rgba(255, 0, 140, 0) 63%,
    rgba(95, 0, 75, 0.11) 83%,
    rgba(206, 0, 103, 0.068) 100%
  );
  bottom: 0;
  flex: none;
  height: 498px;
  left: 0;
  mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 55.13020833333333%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  pointer-events: none;
  z-index: 2;
}

.images_container {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  justify-content: center;
  text-align: start;
  align-items: start;
  max-height: 100vh;
}

.image_blocks {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  transform: scale(140%);
  transition: 1s ease;
}

.images_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.image_holder {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 1.0077627319085878px 2.6201831029623284px -0.3125px #00000040,
    0 2.3885756205709185px 6.210296613484388px -0.625px #00000040,
    0 4.357008827588287px 11.328222951729547px -0.9375px #00000040,
    0 7.2435184293135535px 18.83314791621524px -1.25px #00000040,
    0 11.697691633173964px 30.413998246252305px -1.5625px #00000040,
    0 19.147960564453385px 49.7846974675788px -1.875px #00000040,
    0 32.97149505802081px 85.7258871508541px -2.1875px #00000040,
    0 60px 156px -2.5px #00000040;
  height: auto;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.image_holder:hover {
  opacity: 1;
}

.image_bg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  position: relative;
  align-items: center;
}

.image_text {
  position: absolute;
  bottom: 3rem;
  z-index: 999;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
}

.text_padding {
  max-width: 1200px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.image_text button {
  padding: 0px 12px;
  height: 32px;
  transition: 0.1s ease;
  border-radius: 6px;
  z-index: 999;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
  background-color: #fff;
  color: #000;
}

.image_text button:hover {
  background-color: #dbdbdb;
}

.text_content {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  width: auto;
  text-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.image_text span {
  color: rgb(255 255 255 / 60%);
  font-size: 14px;
  height: auto;
  max-width: 350px;
  text-align: left;
  text-wrap: balance;
}

.image_blocks.scrolled {
  transform: scale(100%);
}

.sticky_text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  padding: 2rem;
  gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  max-width: 100vw;
}
.sticky_text h4 {
  font-weight: 600;
  font-size: 72px;
  text-wrap: balance;
  line-height: 80px;
}

.sticky_text p {
  font-size: 24px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
}

.download_launcher {
  cursor: pointer;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
  backdrop-filter: blur(0px);
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  z-index: 999;
  font-size: 16px;
  transition: 0.1s ease;
  width: max-content;
  font-weight: 500;
}

.download_launcher:hover {
  background-color: #dbdbdb;
}

.features {
  width: 100%;
  max-width: calc(1200px + 2rem);
  align-items: center;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.features_title {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  max-width: 1200px;
  overflow: visible;
  padding: 100px 0 60px;
  position: relative;
  width: 100%;
}

.features_title span {
  text-shadow: 0px 4px 18px rgba(217, 177, 0, 0.85);
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.features_title h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  text-wrap: balance;
}

.features_title p {
  font-size: 18px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
}

.features_header {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.features_container {
  align-content: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.features_blocks {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 560px;
  justify-content: center;
  width: 100%;
}

.block {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 100%;
  padding: 40px;
  overflow: hidden;
  transition: 0.1s ease;
  position: relative;
  border: 1px solid rgb(255 255 255 / 12%);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  width: 400%;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
}

.block_header {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.block_header h4 {
  font-size: 20px;
  font-weight: 500;
}

.block_header p {
  font-size: 18px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
}

.servers {
  align-content: center;
  align-items: center;
  background-color: #000;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 240px 2rem 120px;
  position: relative;
  width: 100%;
  text-align: center;
}

.servers_title {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  max-width: 600px;
}

.servers_header {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.servers_title span {
  text-shadow: 0px 4px 18px rgba(0, 101, 217, 0.85);
  background: linear-gradient(to right, #5fffff, #7b7dfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.servers_title h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  text-wrap: balance;
}

.servers_title p {
  font-size: 18px;
  color: rgb(255 255 255 / 60%);
  justify-content: left;
}

.servers_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 1400px;
}

.server {
  border-radius: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: 600px;
  justify-content: flex-end;
  position: relative;
  text-decoration: none;
  background-size: cover;
}

.server_style {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 30px;
}

.server_style h4 {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
}

.server_style p {
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
}

.server_style button {
  display: flex;
  color: #fff;
  font-weight: 500;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  backdrop-filter: blur(0px);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.server_style button:hover {
  background-color: #ffffff27;
}

.server_style span {
  font-size: 14px;
}

.server_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-wrap: balance;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(169, 169, 169, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: opacity 0.3s ease;
}

.shadow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(169, 169, 169, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.shadow:hover::after {
  opacity: 1;
}

.launcher {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  height: min-content;
  justify-content: center;
  padding: 120px 40px 0;
  position: relative;
  width: 100%;
}

.launcher_container {
  align-items: center;
  background: radial-gradient(
    50% 103% at 50% 100%,
    rgba(255, 0, 106, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  max-width: 1400px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.launcher_title {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: min-content;
  justify-content: center;
  max-width: 600px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
  z-index: 1;
}

.launcher_text {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: left;
  max-width: 450px;
  padding: 0;
  position: relative;
  width: 100%;
  text-align: left;
}

.launcher_text h4 {
  font-size: 52px;
  font-weight: 600;
  text-wrap: balance;
  line-height: 70px;
}

.launcher_text p {
  color: rgb(255 255 255 / 60%);
  justify-content: left;
  text-align: left;
  font-size: 18px;
}

.launcher_buttons {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  width: 100%;
}

.launcher_buttons .button {
  background-color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  color: #000;
  font-weight: 500;
  flex-direction: row;
  transition: 0.1s ease;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0.5px 0.5px 0px 0px inset,
    rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

.launcher_buttons a {
  align-items: center;
  display: flex;
  color: #fff;
  font-weight: 500;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  backdrop-filter: blur(0px);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.launcher_buttons a:hover {
  background-color: #ffffff27;
}

.launcher_buttons .button:hover {
  background-color: #dbdbdb;
}

.image {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  height: 640px;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
}

.image_container {
  background-image: url("/game.png");
  width: 1200px;
  height: 100%;
  mask: radial-gradient(
      105% 97% at 0% 0%,
      #000000 42.85789695945946%,
      rgba(0, 0, 0, 0) 100%
    )
    add;
  -webkit-mask: radial-gradient(
      105% 97% at 0% 0%,
      #000000 42.85789695945946%,
      rgba(0, 0, 0, 0) 100%
    )
    add;
  background-size: 105%;
  background-repeat: no-repeat;
}

.radialB {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff002b85 0%,
    rgba(171, 171, 171, 0) 100%
  );
  border-radius: 8px;
  bottom: -430px;
  flex: none;
  height: 730px;
  left: calc(50.00000000000002% - min(1800px, 1440px) / 2);
  max-width: 1800px;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  width: 1440px;
  z-index: 1;
}

.optimization {
  background: radial-gradient(
    93% 81% at 50% 100%,
    #003621 0%,
    rgb(0, 0, 0) 100%
  );
  border-radius: 16px;
  box-shadow: 0 20px 40px #0009;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  padding: 25px;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.13);
  width: 100%;
}

.optimization h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.circles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.circle {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0.5px 0px 0.5px,
    rgba(0, 0, 0, 0.25) 0px 10px 30px 0px;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  width: 120px;
  padding: 10px;
  background-color: linear-gradient(
    rgba(5, 255, 159, 0) 0%,
    rgba(0, 0, 0, 0.06) 100%
  );
}

.circle_container {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-end;
  height: 100%;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
}

.circle_container p {
  font-size: 16px;
  font-weight: 500;
}

.circleBlock {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  border: 3px solid rgb(0, 255, 157);
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 5px 3px rgba(0, 255, 157, 0.3);
}

.images {
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 999;
}

.font_image {
  background-image: url("/ttf.png");
  width: 300px;
  aspect-ratio: 16/10;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-size: cover;
}

.compass {
  background-image: url("/compass.png");
  width: 400px;
  position: absolute;
  left: 3rem;
  background-size: contain;
  height: 50px;
  top: 0rem;
}

.map {
  background-image: url("/map.png");
  width: 200px;
  position: absolute;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 260px;
  top: 0;
}

.hud {
  background-image: url("/hud.png");
  width: 400px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  left: 40%;
  transform: translateX(-50%);
  bottom: 2rem;
}

.shadow_images {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(169, 169, 169, 0) 49%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  width: 100%;
  pointer-events: none;
  bottom: 0;
  z-index: 2;
  height: 100%;
}

.amimated_video {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  left: 0;
}

.animated {
  z-index: 1;
  max-width: max-content;
  user-select: none;
  pointer-events: none;
}

.shadow_video {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 140%;
  z-index: 999;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.arrow {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  width: 40px;
  transition: 0.1s ease;
  height: 40px;
  text-align: center;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.25) 0.5px 0.5px 0px 0px inset,
    rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px,
    rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px,
    rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

.arrow:hover {
  background-color: #dbdbdb;
}

.shadow_slider {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(169, 169, 169, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
}

.show {
  -webkit-mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0.2) 23%,
      rgba(0, 0, 0, 1) 46.44214527027027%,
      rgba(0, 0, 0, 0.2) 67%,
      rgba(0, 0, 0, 0) 84%
    )
    add;
  flex: none;
  height: 557px;
  left: calc(50.00000000000002% - 410px / 2);
  mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0.2) 23%,
      rgba(0, 0, 0, 1) 46.44214527027027%,
      rgba(0, 0, 0, 0.2) 67%,
      rgba(0, 0, 0, 0) 84%
    )
    add;
  position: absolute;
  width: 400px;
}

.section {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  opacity: 1;
  overflow: hidden;
}

.ul {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  gap: 0px;
  position: relative;
  flex-direction: column;
  will-change: transform;
  top: 100px;
  transform: none;
  animation: moveUpAndReset 30s infinite linear;
}

.li {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.icons {
  width: calc(50% - 1rem);
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes moveUpAndReset {
  0% {
    transform: translateY(0); /* Начальная позиция */
  }
  100% {
    transform: translateY(-200%); /* Уходит вверх за пределы */
  }
}

.cave {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.gui {
  width: 100%;
  height: 100%;
  background-image: url("/Home/hud.png");
  background-size: 140%;
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: 50% 230%;
  overflow: hidden;
  box-shadow: 0 20px 40px #0009;
  border: 1px solid rgb(255 255 255 / 12%);
}

@media (max-width: 1200px) {
  .features_blocks {
    flex-direction: column;
    height: auto;
  }

  .block {
    max-width: 800px;
    min-height: 555px;
  }

  .gui {
    height: 300px;
    background-size: cover;
    background-position: 0%;
  }

  .optimization {
    min-height: max-content;
  }
}

@media (max-width: 1024px) {
  .servers_container {
    flex-direction: column;
  }

  .servers {
    align-items: unset;
  }

  .servers_title {
    width: 100%;
    max-width: 100%;
  }

  .servers_header {
    max-width: 600px;
  }

  .launcher_container {
    gap: 40px;
  }

  .launcher_title {
    flex: 1.5 0 0px;
  }
}

@media (max-width: 768px) {
  .text_padding {
    flex-direction: column;
  }

  .block_header p {
    font-size: 14px;
  }

  .opt {
    display: none;
  }

  .text_padding span {
    text-align: center;
    align-items: center;
  }

  .title h4 {
    font-size: 36px;
    line-height: 1.2em;
    text-wrap: wrap;
  }

  .video {
    left: 5rem;
  }

  .launcher {
    padding: 120px 20px 0;
  }

  .launcher_text h4 {
    font-size: 36px;
    line-height: 1.2em;
  }

  .launcher_text {
    max-width: max-content;
    text-align: left;
    align-items: start;
  }

  .video_overllay {
    left: 5rem;
  }

  .launcher_container {
    flex-direction: column;
  }

  .launcher_title {
    width: 100%;
  }

  .image {
    flex: none;
    width: 100%;
    height: auto;
    height: 500px;
  }

  .image_container {
    position: absolute;
    left: 0;
    aspect-ratio: 16/9;
  }

  .paragraph {
    font-size: 16px;
    max-width: 100%;
    text-wrap: wrap;
  }

  .links {
    padding-top: 10px;
  }

  .top_main_content_title {
    gap: 10px;
  }

  .logo {
    display: none;
  }

  .sticky_text h4 {
    font-size: 56px;
    line-height: 60px;
  }

  .sticky_text p {
    font-size: 18px;
    margin-top: 1rem;
  }

  .image_holder {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .sticky_text h4 {
    font-size: 32px;
    line-height: 40px;
  }

  .sticky_text p {
    font-size: 16px;
    margin-top: 0.5rem;
  }

  .server {
    height: 500px;
  }
}

@media (max-width: 425px) {
  .server {
    height: 300px;
  }

  .top_main_content {
    padding: 0 20px;
  }

  .watch_trailer {
    display: none;
  }

  .launcher_buttons {
    font-size: 14px;
  }

  .image {
    height: 300px;
  }

  .server_style {
    padding: 20px 20px;
    gap: 0;
  }

  .servers {
    padding: 120px 1rem 60px;
  }

  .amimated_video {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .servers_title h3 {
    font-size: 28px;
  }

  .servers_title p {
    font-size: 16px;
  }
}
